<html>
	<head>
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	    <script type="text/javascript" src="/static/js/main.js"></script>
	    <meta charset="utf-8">
	    <title></title>
	    <style media="screen">
	      form {
	        font-family: fantasy;
	      }
	      input {
	        font-family: fantasy;
	      }
	    </style>
	</head>

	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>