{% extends 'base.html' %}

{% block content %}
  
  <div class="row">
    <div class="message-container col-md-10">
      <div class="message-content">
      {%for message in messages%}
        <div class="message">
          <div class="sender">
            {{message.sender}}:
          </div>
          <div class="content">
            {{message.content}}
          </div>
        </div>
      {%endfor%}
      </div>
    </div>

    <div class="online-users col-md-2">
      {% for user in online_users %}
        <div class="user">{{user.email}}</div>
      {% endfor %}
    </div>
    <div class="row chat-form">
      <form action="" method="post">
        {% csrf_token %}
        <textarea name="message" class="col-md-10"></textarea>
        <input type="submit" name="Submit" value="Send" class="col-md-2">
      </form>
    </div>
  </div>
{% endblock %}