{%extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style media="screen">
      h1, h2, input, button {
        font-family: fantasy;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Add new friend</h2>
      </div>
    </div>
    <div class="container">
      <form class="" action="." method="post">
        {%csrf_token%}
        {{form.as_p}}
        <input class="btn btn-primary btn-md" type="submit" name="friend_search" value="Search!">
        {{errors}}
      </form>
    </div>
  </body>
</html>
{%endblock%}
