{%extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style media="screen">
      h1, h2, input, button {
        font-family: fantasy;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Login page</h2>
      </div>
    </div>
    <div class="container">
      {% if error %}
        <div class="bg-warning error">
          {{error}}
        </div>
      {%endif%}
      <form action="." method="post">
        {% csrf_token %}
        {%for field in form%}
        <p>
          {{field.label_tag}} {{field}}
        </p>
        {%endfor%}
        <input class="btn btn-primary btn-md" type="submit" name="log_form" value="Log in">
      </form>
    </div>

  </body>
</html>
{%endblock%}
