{% extends 'base.html' %}

{% block extra_headers %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
    h1, h2, input, button {
      font-family: fantasy;
    }
    body {
        position: relative;
    }
    .affix {
        top:0;
        width: 100%;
        z-index: 9999 !important;
    }
    .navbar {
        margin-bottom: 0px;
    }

    .affix ~ .container-fluid {
       position: relative;
       top: 50px;
    }
    </style>
{% endblock extra_headers %}

{% block content %}
<div class="container well">
  
  <div class="row ">
    <div>
      <h2>Your profile</h2>
      <div>
        <p style="font-family: fantasy">
          Logged as : {{request.user}}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h1>Friends</h1>
      <a href="/friends">
        <button class="btn btn-primary btn-lg" type="button" name="button">View your friend list</button>
      </a> 
    </div>
    <div class="col-md-4">
      <h1>My Playlist</h1>
      <a href="/mymusic">
        <button class="btn btn-primary btn-lg" type="button" name="button">View my playlist</button>
      </a>
    </div>
    <div class="col-md-4">
      <h1>Chat</h1>
      <a href="/chat">
        <button class="btn btn-primary btn-lg" type="button" name="button">Go to Chat</button>
      </a>
    </div>
  </div>
{% endblock %}
